<h3>Login page</h3>

{{#if session.isAuthenticated}}
<p>Are you sure you want to log out?</p>
<button {{action 'invalidateSession'}}>Logout</button>
{{else}}
<p>Login with Jam:</p>

<!--{{component jan-auth login=(action 'authenticate')}}-->
{{jam-auth login=(action 'authenticate')}}

{{/if}}

{{outlet}}